div.body {
    justify-content: flex-start;
}

table {
    width: 100%;
    border-collapse: collapse;

    th, td {
        border: 1px solid #999;
        text-align: center;
        padding: 20px 0;
    }

    thead tr {
        background-color: #008c8c;
        color: #fff;
    }

    tbody {
        tr:nth-child(odd) {
            background-color: #eee;
        }

        tr:hover {
            background-color: #ccc;
        }
    }

    button {
        border-radius: 10px;
        border: none;
        width: 80px;
        height: 30px;
        cursor: pointer;
        color: #ffffff;
    }

    .addButton {
        background-color: #558b2f;
    }

    .editButton {
        background-color: #039be5;
    }

    .deleteButton {
        background-color: #e53935;
    }
}

#overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
    display: none;
}

.popup {
    background-color: #ffffff;
    max-width: 400px;
    min-width: 200px;
    border-radius: 5px;
    margin: 100px auto auto auto;
    text-align: center;
    display: flex;
    flex-direction: column;

    .popup_title {
        height: 60px;
        line-height: 60px;
        border-bottom: solid 1px #cccccc;
    }

    .popup_content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        label {
            display: flex;
            justify-content: space-between;
            margin: 5px 10%;

            input {
                border: 0;
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                outline: none;
                font-size: 16px;
            }

            #base-payment {
                min-width: 182px;
                display: flex;
                justify-content: flex-start;
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            }
        }
    }

    .popup_btn {
        display: flex;
        justify-content: flex-end;
        margin: 0 40px;

        button {
            width: 20%;
            height: 30px;
            cursor: pointer;
            border: solid 1px #cccccc;
            border-radius: 5px;
            margin: 5px 10px;
            color: #ffffff;
        }

        .cancelBtn {
            background-color: #039be5;
        }

        .confirmBtn {
            background-color: #558b2f;
        }
    }
}
